

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


h1 {
	text-align:center;
	font-size: 40px;
	font-family: helvetica sans-serif;
	padding:40px 0px 30px;
}

h2 {
	font-size: 30px;
}

article{
	float:left;
	width:450px;
	margin:100px 15px;
}
p {
	font-family: serif;
	font-size: 15px;
	padding-top:10px;
	margin:0px;
}


img{
	float:left;
	height:55%;
	width:55%;
	padding:0px 20px 20px 0px;
}

footer {
	width: 100%;
	padding-top: 5px;
	border-top-width: 5px;
	border-top-style: solid;

}

#main-content{
	width:960px;
	margin:0auto;
	float:left;
}

#top-nav {
    position:absolute;
    top:20px;
    left:20px;
    background-color:teal;
    border-radius:5px;
    box-shadow:4px 4px 4px#ddd;
    padding:0 10px;
    margin: 0 20px; 
  }

#top-nav li{
    float:left;
    border-right:2px solid #fff; 
}

#top-nav li.last{
    border:0px;
}

#top-nav li a{
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
    text-transformation:uppercase;
}


#left-footer {
    float:left;
    clear:left;
    text-align: left;
    padding-left:30px;
    background-color:white;
    color:black;
    font-size: 10px;
}

#right-footer {
	float:right;
	clear:right;
	text-align: right;
	padding-right: 30px;
	font-size:10px;
}


