

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


body{
	margin:10px;
}
h1 {
	font-size: 40px;
}

h2 {
	margin:10px 1px 1px 10px;
	padding:10px 3px 1px 10px;
	font-size: 25px;
}

p{
	padding-top:15px;
	margin:0px;
	font-family: garamond serif;
	font-size: small;
}

#dog-content {
	clear:left;
	float:left;
	width:20%;
	padding:15px 0px 15px 25px;
}

#cat-content {
	float:right;
	padding: 15px 20px 10px 0px;
}

img{
	float:left;
	height:150px;
	width:150px;
	padding:0px 20px 20px 0px;
}

#top-nav li {
	list-style:disc;
    float:left;
    margin:0px 1px 1px 50px;
    background-color:white;
    color:black;
    padding:10px 1px 1px 10px;
    text-transform:uppercase;
    font-family:helvetica;
    margin:20px;
    text-decoration:none;
}
#main-content{
	width:960px;
	margin:0auto;
}

#site-footer {
    float:left;
    margin:10px 10px 10px 10px;
    background-color:white;
    color:black;
    padding:10px 10px 10px 10px;
    font-family:helvetica;
    margin:20px;
}



